In [1]:
import numpy as np
import pandas as pd
from pickle import load

In [17]:
with open('firstSpreadData.p','rb') as f:
    df = load(f)

In [18]:
df['conf'] = df['conf'].astype(int)

In [19]:
display(df.head())
df.info()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,2000,1000,-1,
1,2,1,1,0,0,0,401,55,142,16,-1,
2,3,1,1,1,0,0,401,55,142,16,-1,
3,4,1,1,1,1,0,401,55,142,16,-1,
4,5,1,1,1,1,1,401,56,45,15,96,SAM

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   level      509 non-null    int64
 1   page_num   509 non-null    int64
 2   block_num  509 non-null    int64
 3   par_num    509 non-null    int64
 4   line_num   509 non-null    int64
 5   word_num   509 non-null    int64
 6   left       509 non-null    int64
 7   top        509 non-null    int64
 8   width      509 non-null    int64
 9   height     509 non-null    int64
 10  conf       509 non-null    int32
 11  text       509 non-null    object
dtypes: int32(1), int64(10), object(1)
memory usage: 45.9+ KB

In [20]:
print(df['text'].value_counts().to_string())

                     77
the                  21
and                  18
of                   12
that                  9
to                    8
he                    8
Petit                 8
his                   7
Hayes                 6
with                  6
in                    6
Komisarjevsky         5
They                  5
a                     5
on                    4
Jennifer              4
her                   4
two                   3
was                   3
then                  3
William               3
has                   3
we                    3
their                 3
for                   3
should                3
men                   3
The                   3
as                    3
                      2
girls                 2
ae                    2
At                    2
According             2
all                   2
When                  2
He                    2
by                    2
before                2
this                  2
feel                  2
about                 2
us                    2
from                  2
would                 2
renee                 1
feet                  1
morally               1
“dif-                 1
remorse               1
set                   1
station               1
hands                 1
her.                  1
care                  1
fer                   1
gasoline.             1
line                  1
apparent              1
.                     1
Dr,                   1
am.,                  1
k.                    1
own                   1
$15,000               1
gas                   1
central               1
9:30,                 1
returned              1
raped                 1
died                  1
known                 1
at                    1
money                 1
re                    1
hesitating,           1
attempted             1
Michaela              1
long                  1
mother                1
11—still              1
Connecticut,          1
asleep.               1
rape                  1
head                  1
psychologically       1
bonds                 1
them                  1
release               1
him                   1
police                1
did.                  1
covered               1
minutes,              1
ph                    1
“It                   1
cash.                 1
take                  1
journals,             1
family                1
been                  1
Had                   1
bat.                  1
quickly               1
held                  1
these                 1
smoke                 1
house.                1
three                 1
kind,                 1
daughters—Hayley.     1
decided               1
cross                 1
hearing               1
since                 1
striking              1
hadn't                1
into                  1
inhalation.           1
himself               1
conversa-             1
confession,           1
search                1
injuries              1
monsters              1
i                     1
be                    1
child?                1
What                  1
partner.              1
teller                1
screams               1
found                 1
upstairs              1
Dr.                   1
unharmed.             1
SAM                   1
3                     1
family,               1
asked                 1
sume-                 1
claimed               1
tos                   1
drove                 1
cell                  1
aw.                   1
crimes                1
bought                1
went                  1
triggered             1
bet                   1
askeep                1
While                 1
can                   1
town                  1
said,                 1
arrived               1
survivor              1
only                  1
beds.                 1
light-                1
silent.               1
hands,                1
her,                  1
artack.               1
Petit’s               1
FREE                  1
house                 1
considered            1
taped                 1
girls’                1
killing               1
tied                  1
victim's              1
within                1
ferent”               1
rest                  1
Not                   1
home                  1
Cheshire,             1
strangled             1
point,                1
my                    1
thing                 1
over                  1
slipped               1
escaped.              1
damaged,              1
bad                   1
other                 1
takin,                1
captors               1
sofa                  1
bank                  1
they                  1
responsible           1
‘went                 1
what                  1
woke                  1
bound                 1
many                  1
do.                   1
beds                  1
2                     1
room                  1
blazc,                1
amused                1
dis-                  1
panic.                1
suggests              1
like                  1
our                   1
husband’s             1
17,                   1
really.               1
briefly               1
bludgeoned            1
didn’t                1
justified             1
unaware               1
began                 1
why                   1
Michacla,             1
naturally             1
‘om                   1
people,               1
repeatedly            1
WILL                  1
fact                  1
close                 1
stood                 1
actions.              1
mastucbatin           1
doused                1
were                  1
until                 1
him,                  1
quiet                 1
Upen                  1
untied                1
signs                 1
surprise              1
living                1
mind.”                1
noticed               1
up                    1
gaso-                 1
remember,             1
hals,                 1
shown                 1
immediately           1
it                    1
Jennifer,             1
felt                  1
Do                    1
‘They                 1
her—which             1
believed              1
entirely              1
just                  1
sunroom.              1
divided               1
man                   1
Phone                 1
ing                   1
most                  1
suicide?              1
fire.                 1
HARRIS                1
strength              1
baseball              1
sleeping              1
some                  1

In [5]:
valConfDf = df[df['conf'] > 0]

In [6]:
display(valConfDf.head())
valConfDf.info()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
4,5,1,1,1,1,1,401,56,45,15,96,SAM
5,5,1,1,1,1,2,456,55,87,15,95,HARRIS
9,5,1,2,1,1,1,212,129,43,21,85,"hals,"
10,5,1,2,1,1,2,260,128,68,18,94,arrived
11,5,1,2,1,1,3,336,133,17,12,96,at

<class 'pandas.core.frame.DataFrame'>
Int64Index: 428 entries, 4 to 508
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   level      428 non-null    int64
 1   page_num   428 non-null    int64
 2   block_num  428 non-null    int64
 3   par_num    428 non-null    int64
 4   line_num   428 non-null    int64
 5   word_num   428 non-null    int64
 6   left       428 non-null    int64
 7   top        428 non-null    int64
 8   width      428 non-null    int64
 9   height     428 non-null    int64
 10  conf       428 non-null    int32
 11  text       428 non-null    object
dtypes: int32(1), int64(10), object(1)
memory usage: 41.8+ KB

In [7]:
valTextDf = valConfDf[(valConfDf['text'] != '') & (valConfDf['text'] != ' ')]

In [8]:
display(valTextDf.head())
valTextDf.info()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
4,5,1,1,1,1,1,401,56,45,15,96,SAM
5,5,1,1,1,1,2,456,55,87,15,95,HARRIS
9,5,1,2,1,1,1,212,129,43,21,85,"hals,"
10,5,1,2,1,1,2,260,128,68,18,94,arrived
11,5,1,2,1,1,3,336,133,17,12,96,at

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 4 to 504
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   level      425 non-null    int64
 1   page_num   425 non-null    int64
 2   block_num  425 non-null    int64
 3   par_num    425 non-null    int64
 4   line_num   425 non-null    int64
 5   word_num   425 non-null    int64
 6   left       425 non-null    int64
 7   top        425 non-null    int64
 8   width      425 non-null    int64
 9   height     425 non-null    int64
 10  conf       425 non-null    int32
 11  text       425 non-null    object
dtypes: int32(1), int64(10), object(1)
memory usage: 41.5+ KB

In [9]:
df2 = valTextDf

In [11]:
df2.sort_values('width',ascending=False)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
124,5,1,2,1,12,6,518,491,193,43,72,daughters—Hayley.
168,5,1,2,1,17,2,262,666,191,62,13,renee
503,5,1,7,1,1,5,1306,898,152,26,69,psychologically
408,5,1,6,3,2,8,1406,589,151,31,90,Komisarjevsky
47,5,1,2,1,4,6,541,233,150,23,90,Komisarjevsky
...,...,...,...,...,...,...,...,...,...,...,...,...
475,5,1,6,4,5,3,1105,847,9,11,91,a
36,5,1,2,1,3,7,522,204,9,11,90,a
150,5,1,2,1,15,7,520,615,9,10,71,a
66,5,1,2,1,6,8,573,309,9,11,95,a
211,5,1,2,2,1,9,745,821,2,6,9,2

In [13]:
df2.sort_values('conf',ascending=True)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
211,5,1,2,2,1,9,745,821,2,6,9,2
349,5,1,6,2,5,1,999,440,61,17,11,hadn't
168,5,1,2,1,17,2,262,666,191,62,13,renee
145,5,1,2,1,15,2,287,603,38,50,27,i
387,5,1,6,2,8,8,1340,530,66,18,29,artack.
...,...,...,...,...,...,...,...,...,...,...,...,...
283,5,1,6,1,3,4,1167,194,58,20,96,living
284,5,1,6,1,3,5,1234,196,52,12,96,room
286,5,1,6,1,3,7,1342,193,43,16,96,rape
291,5,1,6,1,4,2,1038,234,29,16,96,He
263,5,1,6,1,1,4,1152,124,31,16,96,the

In [43]:
print(df2.sort_values('conf')[['left','top','width','height','conf','text']].to_string())

     left  top  width  height  conf               text
211   745  821      2       6     9                  2
349   999  440     61      17    11             hadn't
168   262  666    191      62    13              renee
145   287  603     38      50    27                  i
387  1340  530     66      18    29            artack.
157   246  641     90      45    37                 ae
117   716  477     36      16    38               dis-
232   620  882    118      17    39        mastucbatin
175   218  734     33      18    40                 on
146   329  610     46      15    43               am.,
465  1076  808     55      17    47              about
167   221  702     38      16    47                 re
144   219  598     64      58    52                ‘om
325   996  378     19      11    55                 to
156   223  671     18      14    56                  .
218   662  842     14      30    57                 k.
264  1191  126     67      16    58              money
495  1521  862     47      18    63              “dif-
85    463  371    114      23    67         bludgeoned
503  1306  898    152      26    69    psychologically
149   497  613     18      12    71                 to
150   520  615      9      10    71                  a
78    692  345     60      10    71              sume-
124   518  491    193      43    72  daughters—Hayley.
34    423  197     59      23    72             askeep
40    655  205     96      11    73           sunroom.
77    592  338     91      22    74          triggered
464  1014  810     55      16    74               What
176   257  741     36      11    76                bet
338  1118  408     11      11    76                 it
337  1084  409     24      12    76                set
125   728  512     18      15    77                17,
390  1043  576     54      21    77               Upen
210   697  791     30      49    77                aw.
32    333  198     30      17    77                Dr,
362  1079  473     58      17    78             blazc,
402  1105  607     32      17    78               feel
366  1393  463     35      19    78               just
444  1065  741     64      17    79             hands,
261  1036  126     76      19    80            divided
42    215  232    119      22    80          According
404  1195  610     41      11    81                men
315   995  339     45      16    81              Petit
95    415  404     57      18    82            silent.
217   567  844     49      17    82             takin,
200   621  779    100      19    82          unharmed.
101   479  440     57      17    84            Petit’s
16    529  126     82      18    84            William
234   206  910     26      12    85                 on
9     212  129     43      21    85              hals,
312  1416  289     39      17    85               that
148   444  613     48      11    85               went
251  1271   46     57      17    86               WILL
107   218  474     47      13    86              ‘went
185   300  741     83      13    86            unaware
28    621  163    130      18    87       Connecticut,
364  1305  464     44      17    87              said,
30    213  198     50      23    87               They
339  1137  408     24      11    87                 on
50    215  272     41      12    87               over
273  1156  158     53      21    88              ‘They
133   629  544     21      16    88                all
129   359  539     78      17    88           11—still
220   209  874     28      14    88                tos
221   249  866     20      33    88                 of
213   212  836    149      24    88      Komisarjevsky
335   998  407     35      17    89               line
242   715  888     38      43    89                 we
231   575  878     34      17    89                and
159   369  634     77      45    89          gasoline.
363  1146  466    149      22    90      Komisarjevsky
187   414  738     31      18    90                her
47    541  233    150      23    90      Komisarjevsky
36    522  204      9      11    90                  a
35    489  204     24      11    90                 on
188   451  740     94      19    90          husband’s
128   261  537     91      21    90          Michacla,
408  1406  589    151      31    90      Komisarjevsky
358  1498  422     55      23    90             light-
112   482  479     33      11    90               rest
462  1504  757     59      31    90            really.
340  1169  402     37      16    91              fire.
352  1176  441     37      11    91                two
365  1358  463     26      16    91                “It
333  1499  360     53      17    91              gaso-
475  1105  847      9      11    91                  a
476  1122  840     59      17    91             child?
332  1442  356     45      17    91               with
302  1027  273     77      18    91           partner.
433  1011  710     32      16    91               feel
235   240  904     37      18    91               her.
116   655  477     52      17    92               They
173   658  686     94      11    92          conversa-
169   458  672     72      21    92            $15,000
172   612  679     40      16    92                The
367  1437  459     60      17    92             didn’t
71    212  329     79      47    92            claimed
469  1261  799    149      23    92      Komisarjevsky
287  1394  181    123      21    92          her—which
109   352  476     18      12    93                 to
84    434  370     22      17    93                 he
252  1538   39     10      14    93                  3
413  1173  637     76      21    93            morally
357  1429  425     62      18    93             before
316  1051  336     36      17    93                bad
361  1041  474     29      16    93                the
499  1019  907     68      17    93            ferent”
61    359  301     38      18    93                him
494  1473  870     38      10    93                was
33    371  198     45      17    93              Petit
110   377  472     59      17    93             search
91    217  402     77      23    93           strength
46    428  232    107      21    93        confession,
412  1118  640     42      17    93               held
100   404  438     61      18    93              bound
290   990  235     38      17    93               did.
468  1216  805     38      16    93               that
405  1246  602     36      17    94               like
208   554  811     70      17    94             mother
10    260  128     68      18    94            arrived
317  1098  333     71      23    94            slipped
104   668  442     34      17    94               feet
378  1472  491     83      18    94            William
60    279  296     75      46    94           striking
171   559  678     46      16    94              cash.
115   586  475     61      17    94             house.
59    210  296     62      46    94             before
190   629  747     35      16    94                and
189   551  744     72      21    94           injuries
326  1027  377     57      17    94             panic.
371  1040  507     67      17    94             mind.”
105   715  443     36      16    94                and
170   536  677     18      16    94                 in
132   571  543     52      17    94               woke
434  1051  708     74      21    94           entirely
207   492  808     48      21    94             girls’
130   444  541     62      22    94            asleep.
135   713  524     39      37    94                and
458  1223  771     33      16    94                has
414  1262  632    110      24    94        responsible
457  1180  772     36      17    94                and
88    693  374     22      16    94                all
435  1135  705     78      22    94          justified
87    640  374     44      16    94               with
142   519  575     47      17    94              beds.
470  1417  804     38      10    94                was
203   252  798     62      47    94              While
72    296  334     37      18    94               that
151   535  616     30      15    94                gas
152   571  612     63      16    94            station
350  1069  437     62      18    94             untied
86    586  373     45      16    94              Petit
428  1443  662     47      18    95                 of
351  1139  437     30      16    95                the
425  1258  670     45      16    95              Petit
424  1221  671     29      16    95                the
427  1383  670     54      15    95               many
250  1201   48     55      17    95               FREE
225   464  874     32      17    95               cell
397  1454  565     47      13    95               most
403  1147  606     38      16    95               that
285  1296  188     36      18    95                and
294  1232  226     37      17    95               her,
391  1106  573     76      20    95            hearing
298  1442  217     80      23    95           surprise
380  1004  543     44      16    95              Petit
260   987  136     42      12    95                men
309  1227  302     37      10    95                two
370  1002  515     29      15    95                 my
310  1276  300     43      11    95                men
241   674  915     30      17    95                the
240   581  912     83      22    95          Jennifer,
236   288  905     61      19    95               When
376  1287  498     64      19    95              smoke
373  1163  504     42      22    95              girls
372  1115  506     40      16    95                The
323  1492  321     59      21    95              began
421  1092  675     45      16    95               been
422  1144  673     46      16    95              close
377  1359  495    106      18    95        inhalation.
398  1508  559     23      17    95                 of
504  1470  896    100      23    95           damaged,
138   346  572     34      17    95               tied
37    540  197     38      18    95               sofa
38    588  198     18      17    95                 in
153   640  612     35      16    95                and
92    300  403     44      17    95              until
141   467  574     45      18    95              their
44    339  232     27      18    95                his
429  1472  656     22      31    95                 us
134   659  529     49      32    95              three
131   513  542     50      22    95               They
94    380  404     29      17    95               felt
48    698  235     53      16    95              stood
51    265  266     30      18    95                the
123   479  507     31      17    95                her
63    430  302     30      17    95                the
53    393  273     42      11    95                man
122   435  507     36      16    95                and
98    303  441     36      13    95                two
62    405  302     17      17    95                 in
113   522  474     21      17    95                 of
451  1436  731     49      16    95              since
99    350  437     42      18    95               then
450  1393  732     32      16    95                has
165   707  647     45      16    95              Petit
5     456   55     87      15    95             HARRIS
73    339  335     28      17    95                his
437  1248  702     65      21    95            killing
12    361  127     30      18    95                the
68    677  304     35      16    95               bat.
15    488  127     32      17    95                Dr.
443  1011  749     42      10    95                own
474  1079  848     18      10    95                 as
17    621  127     37      17    95                and
66    573  309      9      11    95                  a
182   626  719     80      15    95           suggests
18    669  128     82      20    95           Jennifer
493  1440  865     23      16    95                 he
67    590  303     78      17    95           baseball
177   410  711     20      11    95                fer
356  1378  427     44      17    95               beds
25    459  167     49      12    95               town
26    517  163     18      16    95                 in
27    543  162     69      17    95            central
181   571  711     48      17    95             teller
481  1460  831     28      16    96                for
480  1365  831     87      23    96          journals,
479  1329  835     28      16    96                his
482  1496  836     19      10    96                 as
430  1497  660     63      18    96              would
374  1212  501     42      17    96               died
502  1225  904     70      22    96            people,
501  1160  906     52      16    96              other
500  1100  907     47      16    96               from
360  1001  481     30      15    96                ing
492  1392  866     38      17    96               that
491  1312  869     70      16    96              known
490  1270  870     32      17    96                has
489  1238  871     22      17    96                 he
488  1121  872    107      19    96          remember,
381  1057  547     36      10    96                was
368  1505  462     49      12    96              cross
487  1077  880     33      10    96                can
486  1046  875     21      16    96                 he
485  1017  882     19      10    96                 as
483  1522  829     45      21    96               long
375  1263  500     20      17    96                 of
382  1100  540     30      17    96                the
394  1324  566     22      16    96                 of
478  1304  841     18      11    96                 to
455  1068  775     21      17    96                 of
454  1013  777     48      20    96              signs
452  1496  729     66      16    96              shown
449  1321  735     61      20    96              Hayes
417  1483  628     75      16    96           actions.
419  1010  676     42      17    96                Had
420  1059  682     27      10    96                 we
448  1271  736     39      16    96               that
416  1424  630     47      17    96              their
447  1220  743     40      11    96               care
445  1142  741     29      15    96                 Do
423  1197  677     18      11    96                 to
441  1527  700     34      11    96                our
440  1474  695     45      16    96               with
439  1377  702     90      13    96           monsters
438  1320  700     49      17    96              these
426  1310  666     67      21    96            family,
436  1221  705     18      16    96                 in
446  1182  745     27      10    96                 we
456  1095  780     78      11    96            remorse
415  1384  631     28      17    96                for
411  1085  642     21      16    96                 be
385  1277  533     21      17    96                 of
386  1303  533     30      16    96                the
477  1192  837    104      21    96          According
473  1017  842     53      21    96              raped
471  1461  791    104      31    96         repeatedly
392  1190  571     54      16    96              about
393  1252  569     65      16    96             crimes
395  1351  565     35      16    96               this
396  1394  562     52      19    96              kind,
467  1175  806     35      16    96               fact
466  1137  807     30      16    96                the
399  1536  564     21      11    96                 us
401  1007  608     88      21    96          naturally
461  1458  764     39      16    96                Not
460  1369  764     79      19    96           suicide?
406  1292  601     60      20    96              Hayes
407  1360  597     36      18    96                and
459  1262  767    100      23    96          attempted
410  1007  643     65      16    96             should
383  1138  538     41      21    96               only
355  1325  430     47      16    96              their
4     401   56     45      15    96                SAM
353  1220  433     43      22    96              girls
114   548  474     30      17    96                the
119   219  503     73      17    96            covered
120   299  504     77      20    96           Jennifer
121   383  506     45      17    96              Petit
127   217  532     42      45    96                and
137   222  570    117      23    96        immediately
139   387  572     48      17    96               them
140   442  578     19      12    96                 to
147   386  601     53      46    96              Hayes
154   683  613     69      21    96             bought
158   340  638     19      16    96                 of
162   532  643     22      16    96                 he
163   559  644     55      16    96              drove
111   444  473     29      17    96                the
164   621  645     79      19    96           Jennifer
179   479  707     29      17    96                the
180   515  708     47      18    96               bank
183   714  715     38      16    96               that
186   389  738     18      17    96                 of
191   671  747     80      17    96           believed
193   217  768     39      17    96               that
194   262  768     32      18    96                her
195   300  775     70      17    96            captors
196   377  771     60      18    96              would
197   444  773     64      18    96            release
198   514  775     32      17    96                her
199   553  776     60      23    96             family
204   327  804     61      22    96              Hayes
178   436  707     35      16    96                and
108   272  471     73      21    96           upstairs
103   617  442     36      16    96                and
102   548  441     58      17    96              hands
11    336  133     17      12    96                 at
13    399  127     53      18    96               home
14    460  126     22      18    96                 of
20    214  164     67      18    96              Petit
21    264  158     19      31    96                 in
22    288  163     89      20    96          Cheshire,
23    384  169     10      11    96                  a
24    401  163     50      22    96              quiet
31    270  197     55      18    96              found
39    615  198     31      17    96                the
43    315  228     16      32    96                 to
45    371  232     52      23    96              taped
52    304  266     78      23    96           sleeping
54    447  267     27      17    96                for
55    486  274     50      10    96               some
56    548  269     86      18    96           minutes,
57    647  269    105      22    96        hesitating,
64    467  302     46      17    96               head
65    521  302     44      18    96               with
69    723  305     29      16    96                 He
75    455  343     76      11    96            screams
76    539  337     43      17    96               then
80    217  368     50      23    96              thing
81    272  369     61      17    96             within
82    340  369     44      20    96               him,
83    391  370     35      17    96                and
89    725  374     27      16    96                his
93    351  403     22      17    96                 he
97    253  436     39      17    96                The
205   401  805     36      17    96                and
206   450  806     30      18    96                the
209   638  819     46      11    96               were
214   371  840     74      16    96             amused
295  1277  230     19      11    96                 to